.comics-container {
    min-height: 100vh;
    background-image: url('../../public/marvel_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.comics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.comic-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(250, 249, 249, 0.885);
}

.comic-card:hover {
  transform: translateY(-5px);
}

.comic-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.comic-card h3 {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
